@charset "utf-8";
/***reset***/
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css'); 
@import url('https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@font-face{ 
    font-family:'TruenoBlk';
    src: url('../font/TruenoBlk.otf');
    src: lpcal('../font/TruenoBlk.otf');
    src: local('☺'),
    url('../font/TruenoBlk.otf') format('otf'),
    url('../font/TruenoBlk.otf') format('truetype');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin-right:0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
 
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p, h1, h2, li a{font-style :normal;
  font-stretch: normal;
  line-height: normal;
    letter-spacing: normal;}
input{border:0; }
a{color:black; text-decoration: none;}
.clear:after{content:""; display:block; clear: both;}
.fl{float:left;}
.fr{float:right;}
.nanum{font-family:'NanumSquare'}
.gothic{font-family:'Nanum Gothic'}
.khula{font-family: 'Lato', sans-serif;}
.noto{font-family:"Noto Sans TC",'Lato', sans-serif;}
.noto-sim{font-family:"Noto Sans SC",'Lato', sans-serif;}
.center-x{position:absolute; left:50%; transform:translatex(-50%);}
.center-y{position:absolute; top:50%; transform:translatey(-50%);}
.center-all{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.fw300{font-weight:300;}
.fw-normal{font-weight:normal;}
.fw500{font-weight:500;}
.fw-bold{font-weight:bold;}
.fw-700{font-weight:700;}
.fw-800{font-weight:800;}
.fw-900{font-weight:900;}
/***reset 끝***/
html,body{width:100%; height:100%;}
.wrap-body{width:100%; height:1500px; position:relative;}
/*header 시작*/
#wrap-header{width:100%; height:80px; background-color: #34a9ff;}
#wrap-header .header-inner{width:1140px; height:100%; margin:0 auto;}
#wrap-header .header-inner ul{width: 600px; height: 100%;}
#wrap-header .header-inner li{width:120px; height: 100%;}
#wrap-header .header-inner li a{display:block; width: 100%; height: 100%; line-height:80px; text-align:center; color:#fff; transition:0.4s;}
#wrap-header .header-inner li a:hover{background-color: #fff; color:#34a9ff;}
#wrap-header .header-inner li.on{background-color: #fff;}
#wrap-header .header-inner li.on a{color:#34a9ff;}
#wrap-header .header-inner .header-logout{width: 200px;height: 100%;}
#wrap-header .header-inner .header-logout p{position:relative; width: 80px;line-height: 80px; text-align:right;}
#wrap-header .header-inner .header-logout p a{font-size:14px;color:#fff;}
#wrap-header .header-inner .header-logout p img{width:20px; height: 20px; left:0;}
#wrap-header .header-inner .header-logout button{width:80px; height: 40px; margin-top:20px; background-color: #fff; font-size:12px; color:#34a9ff; border-radius:4px; cursor:pointer;}
/*header 끝*/
#wrap-section{position:relative; width: 1140px; height:1340px; margin:0 auto; background-color:rgba(52, 169, 255, 0.1);}
/*lnb 시작*/
#wrap-section .lnb{width: 120px; height:100%;padding-top:60px; background-color: #fff;}
#wrap-section .lnb li{width:100%; height:20px; text-align: center;}
#wrap-section .lnb li{font-size:14px; font-weight:bold; color:#9d9d9d;}
#wrap-section .lnb li.on{color:#34a9ff;}
/*lnb 끝*/
/*panel 시작*/
#wrap-section .panel{width: 1020px; height:800px; box-sizing:border-box; padding:60px 20px;}
#wrap-section .panel h2{margin-bottom:60px; box-sizing:border-box; padding-left:20px; font-size:24px; font-weight:bold; color:#3d3d3d;}
#wrap-section .account-box{width: 100%; height: 600px; box-sizing:border-box; padding:20px 40px; background-color: #fff; border:2px solid #efefef;}
/*account-box 상단 시작*/
#wrap-section .account-box .tap-menu{height:30px; line-height:30px;}
#wrap-section .account-box .tap-menu li{float:left; width:110px; text-align: center; font-size:16px; color:#9d9d9d; border-right:2px solid #efefef; cursor:pointer;}
#wrap-section .account-box .tap-menu li:hover{color:#34a9ff;}
#wrap-section .account-box .tap-menu li.on{color:#34a9ff;}
#wrap-section .account-box .tap-menu li:last-child{border-right:none;}
#wrap-section form select{width:120px; height:30px; font-size:14px; background-color: #fff; border-radius;4px;}
#wrap-section form .input-group{position:relative; margin-left:10px; height:30px; }
#wrap-section form .input-group .search-box{width: 200px; height: 30px; box-sizing:border-box; border:1px solid #9d9d9d; border-radius:4px;}
#wrap-section form .input-group button{position:absolute; right:5px; top:7px; width: 20px;height: 20px; border:none; cursor:pointer;}
#wrap-section form .input-group button img{position:absolute; top:0px; right:5px; height:16px;}
/*account-box 상단 끝*/
/*회원계정 목록 table 시작*/
#wrap-section .panel-body{width: 100%; height: 500px; margin-top:60px;}
#wrap-section .panel-body .account-table{width: 100%; height: 500px; margin-top:60px;}
#wrap-section .panel-body .account-table thead tr{width: 100%; height: 50px; line-height:50px; font-size:16px; font-weight:bold; color:#9d9d9d; border-top:2px solid #efefef; border-bottom:2px solid #efefef;}
#wrap-section .panel-body .account-table thead tr th:nth-child(1){width:25%;}
#wrap-section .panel-body .account-table thead tr th:nth-child(2){width:25%;}
#wrap-section .panel-body .account-table thead tr th:nth-child(3){width:20%;}
#wrap-section .panel-body .account-table thead tr th:nth-child(4){width:20%;}
#wrap-section .panel-body .account-table thead tr th:nth-child(5){width:10%;}
#wrap-section .panel-body .account-table {height:50px; line-height:50px; text-align:center; font-size:14px; font-weight:bold;}
#wrap-section .panel-body .account-table td:last-child a{display:block; width:65px; height:30px; background-color: #efefef; box-sizing:border-box; border-radius:4px; border:2px solid #ccc; line-height:26px; font-size:12px; color:#ccc; cursor:pointer;}
/*회원계정 목록 table 끝*/
#wrap-section .panel .page-num {width:210px; margin:0 auto; margin-top:20px;}
#wrap-section .panel .page-num li{float:left; width:30px; cursor:pointer;}
#wrap-section .panel .page-num li.on{font-weight:800;}
/*panel 끝*/
/*membe-page 시작*/
#wrap-section .member-page{width: 900px; height:1200px; margin-left:60px; margin-top:50px; box-sizing:border-box; padding:40px 60px; border:2px solid #efefef; background-color: #fff; display:none;}
#wrap-section .member-page h2{margin-bottom:50px;text-align: center; font-size:28px; font-weight:bold; color:#3d3d3d;}
#wrap-section .member-page .profile-top{width: 100%; height: 200px;}
#wrap-section .member-page .profile-top .profile-img{width: 150px; height: 150px; border-radius:50%; background-color: #eee; margin:25px 100px 20px 0;}
#wrap-section .member-page .profile-top table{width: 500px; color:#3d3d3d;}
#wrap-section .member-page .profile-top table .unreg-date{display:none;}
#wrap-section .member-page .profile-top table tr td{height:50px; line-height:50px; font-size:14px; font-weight:bold;}
#wrap-section .member-page .profile-top table tr td:nth-child(2){text-align: center;}
#wrap-section .member-page .profile-top table tr td button{height:30px; border-radius:4px; background-color: #fefefe; cursor:pointer;}
#wrap-section .member-page .wallet-add{width: 100%;  margin:20px 0; box-sizing:border-box; padding:20px 0;font-weight:bold; color:#3d3d3d; border-top:1px solid #efefef; border-bottom:1px solid #efefef;}
#wrap-section .member-page .wallet-add h3{line-height: 50px; font-size:16px;}
#wrap-section .member-page .wallet-add .wallet-table{width:550px;}
#wrap-section .member-page .wallet-add .wallet-table tr td{height:50px; line-height:50px; font-size:14px;}
#wrap-section .member-page .wallet-add .wallet-table tr td:first-child{width:150px;}
#wrap-section .member-page .chatroom-info{width: 100%; margin:20px 0; box-sizing:border-box; padding:20px 0; border-bottom:1px solid #efefef;}
#wrap-section .member-page .chatroom-info h3{font-size:16px; font-weight:bold; line-height:30px;}
#wrap-section .member-page .chatroom-info .chatroom-table{width:550px; color:#3d3d3d;}
#wrap-section .member-page .chatroom-info .chatroom-table tr td{height:30px; line-height:30px; font-size:14px; font-weight:bold;}
#wrap-section .member-page .chatroom-info .chatroom-table tr td:first-child{width:150px;}
#wrap-section .member-page .chatroom-info .chatroom-table tr td:last-child a{display:block; width:60px; height:30px; line-height:30px; text-align:center; font-size:11px; border:1px solid #ccc; border-radius:4px; background-color: #fefefe; cursor:pointer;}
#wrap-section .member-page .recent-deal{margin-top:20px;}
#wrap-section .member-page .recent-deal .heading-recent-box{height:25px;}
#wrap-section .member-page .recent-deal h3{height:20px; font-size:16px; font-weight:bold; color:#3d3d3d;}
#wrap-section .member-page .recent-deal a{height:20px; font-size:12px; color:#3c3c3c;}
#wrap-section .member-page .recent-deal .recent-box{width: 100%; height: 200px; background-color: #efefef;}
#wrap-section .member-page .btn-section{position:absolute; width: 280px; height: 30px; bottom:40px;}
#wrap-section .member-page .btn-section button{width:100px; height:30px; font-size:12px; border-radius:4px; background-color: #fefefe; cursor:pointer; transition:0.3s;}
#wrap-section .member-page .btn-section button:hover{background-color: #34a9ff; color:#fff;}
#wrap-section .member-page .btn-section .unregister{margin-right:80px;}
/*membe-page 끝*/
/*관리자해지 팝업 시작*/
.popup_btn2{position:fixed;width: 400px; height: 200px; top:300px; box-sizing:border-box; padding:40px; border:2px solid #9d9d9d;  border-radius:4px; background-color: #fefefe; box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03); display:none;}
.popup_btn2 p{margin-bottom:30px; text-align:center; line-height:28px; font-size:18px; font-weight:bold; color:#3c3c3c;}
.popup_btn2 button{width:60px; height:30px; margin:0 48px; background-color:#efefef; border-radius:4px; cursor:pointer; transition:0.4s;}
.popup_btn2 button:hover{background-color: #32a9ff; color:#fff;}
/*관리자해지 팝업 끝*/
/*관리자해지 사유 팝업 시작*/
.popup_textfield{position:fixed; width:500px; height:350px; box-sizing:border-box; padding:20px; background-color: #efefef; border:2px solid #9d9d9d; border-radius:4px; display:none;}
.popup_textfield h2{margin:20px 0;text-align: center; font-size:18px; font-weight:bold; color:#3c3c3c;}
.popup_textfield>img{position:absolute; width:20px; height:20px; right:20px; top:20px; cursor:pointer;}
.popup_textfield form p{font-size:12px; text-align: right;}
.popup_textfield form button{width:100px; height:30px; margin-top:20px; font-size:12px; border-radius:4px; background-color: #fefefe; cursor:pointer;}
/*관리자해지 사유 팝업 끝*/
/*회원유형 변경완료 팝업 시작*/
.popup_confirm{position:fixed;width: 400px; height: 200px; top:300px; box-sizing:border-box; padding:40px; border:1px solid #9d9d9d;  border-radius:4px; background-color: #fff; box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03); display:none;}
.popup_confirm p{margin-bottom:30px; text-align:center; line-height:28px; font-size:18px; font-weight:bold; color:#3c3c3c;}
.popup_confirm button{width:60px; height:30px; border-radius:4px; background-color: #efefef; cursor:pointer; transition:0.4s;}
.popup_confirm button:hover{background-color: #32a9ff; color:#fff;}
/*회원유형 변경완료 팝업 끝*/
/*footer 시작*/
#wrap-footer{position:absolute; width: 100%; height: 80px; bottom:0; background-color: #34a9ff; }
#wrap-footer .footer-inner{width: 1140px; height: 100%; margin:0 auto;}
#wrap-footer .footer-inner p{text-align: center; line-height:80px; color:#fff;}